{
  "extends": [
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "flowtype/no-weak-types": 2,
    "flowtype/require-parameter-type": [
      2, {
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/require-return-type": [
      2,
      "always", {
        "excludeArrowFunctions": "expressionsOnly"
      }
    ]
  },
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}